#ega-salebox,h3, .status_name.product-sku, a.text-primary, .product-promotion__heading, .vendor_.status_name, .sku_.status_name,.coupon-toggle .coupon-toggle-btn {color:black !important}

.mini-cart>a .count_item.count_item_pr, .twitter, .facebook:not(.link), .pinterest, .messenger, #ega-cart-count,
.step-footer-continue-btn.btn
{background:black  !important}

.product-promotion {
border: 3px dashed #000 !important
}

:root {
--link-color:#aaa !important
}

.radio-wrapper .radio-input .input-radio:checked, .checkbox-wrapper .checkbox-input .input-checkbox:checked{    box-shadow: 0 0 0 10px #000 inset !important;
}

@media (min-width: 576px) {
  .row.product-list.content-col > *,.row.mt-3.multi_row > * { 
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333% !important;
          flex: 0 0 33.333333% !important;
  max-width: 33.333333%!important;
}
  .pos-relative.embed-responsive[class*=embed-responsive-] img {
    width: 95%!important;
}
}
.item_product_main .item-color-chosen .color-dot {box-shadow: 0 0 0 1px #999!important}

.js-seemore.ega-pro__seemore.text-center.pos-relative.mt-3 {display:none !important}
